@import 'partials/variables';
@import 'partials/reset';
@import 'navbar';
@import 'about';
@import 'connect';
@import 'work';

.ember-application {
  background: $cream;
}

.contentContainer {
  margin: 0 auto;
  width: 50%;
  padding: 40px 20px 20px;
}

.logo {
  width: 100%;
  height: 100%;
  position: absolute;
  background: $twilight;
}

.mainPage {
  width: 90%;
  position: absolute;
}

#homeImage {
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
}

h1 {
  font-size: 32px;
  text-transform: lowercase;
  color: $oxblood;
  font-family: $main-font;
  font-weight: bold;
  padding-bottom: 15px;
  transition: 0.3s ease-in-out;
}

h2 {
  font-size: 25px;
  color: $oxblood;
  font-family: $main-font;
  font-weight: bold;
  padding-top: 30px;
}

h3 {
  font-size: 18px;
  color: $oxblood;
  font-family: $main-font;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

h6 {
  font-size: 20px;
  color: $oxblood;
  font-family: $main-font;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 10px;
}

p {
  font-family: $main-font;
  padding: 10px 0;
  line-height: 1.3;
}

button {
  background: $twilight;
  color: $cream;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  float: right;
  

  &#submit-button {
    margin: 10px -10px;
  }

  &:active,
  &:hover {
    background: $oxblood;
    color: $cream;
  }

  a {
    color: $cream;
    text-decoration: none;
  }
}
@media only screen and (max-width: 850px) {
  .contentContainer {
    width: 60%;
  }
}
@media only screen and (max-width: 750px) {
  .contentContainer {
    width: 70%;
  }

  #homeImage {
    padding-top: 20%;
  }
}
@media only screen and (max-width: 550px) {
  h3 {
    font-size: 16px;
    text-align: left;
    padding-left: 0;
  }

  p {
    font-size: 15px;
  }

  #homeImage {
    padding-top: 30%;
    width: 100%;
    padding-left: 4%;
  }
}
@media only screen and (max-width: 450px) {
  .contentContainer {
    width: 80%;
    padding: 40px 10px 10px;
  }
}
