.connectForm {
  margin: 0 auto;

  input,
  textarea {
    border: none;
    outline: none;
    width: 96.5%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: $main-font;
    font-size: 12px;
    background: $heirloom-rose;
    color: $cream;
  }
}

::-webkit-input-placeholder {
  color: $cream;
}

::-moz-placeholder {
  color: $cream;
}

:-ms-input-placeholder {
  color: $cream;
}

:-moz-placeholder {
  color: $cream;
}
@media only screen and (max-width: 750px) {
  .headerImage {
    img {
      height: 200px;
    }
  }

  .responsiveImage {
    width: 365px;
  }
}
@media only screen and (max-width: 500px) {
  .headerImage img {
    height: 150px;
  }
  .responsiveImage {
    width: 274px;
  }
}
