.workContainer{
  display: flex;
  flex-direction: column;
}

.imageContainer{
  background: $heirloom-rose;
  border-radius: 2px;
  padding: 4px 4px 1px 4px;

.thumbnail{
  width: 100%;
}
}

.infoContainer{
  width: 100%;
  text-align: left;
}
