<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
</div>
<div class='contentContainer'>
  <div class='aboutContainer'>
    <div class='profileContainer'>
    <img class='profile' src='images/profile.png'>

    <p><h1>About</h1> Nulla facilisi. Curabitur condimentum tristique dui quis accumsan. In faucibus neque vitae mi iaculis, at luctus arcu varius. Suspendisse maximus leo eget risus gravida lacinia. Nunc suscipit ligula bibendum dui convallis, ut tempor lacus laoreet. Donec feugiat varius mattis. Maecenas erat justo, sollicitudin quis hendrerit quis, laoreet et felis. Nulla facilisis dolor in urna ultricies, nec ultrices justo dignissim. Maecenas nec mattis elit. Mauris quis ante orci. Fusce ac erat euismod, maximus augue at, porttitor mi. Sed varius pellentesque massa eu vehicula.</p>
    </div>
  </div>
</div>
