<div class='logoContainer'>
  <div class='headerImage'>
    <div class='responsiveImage'>
      <img src='images/mainLogo.png'>
    </div>
  </div>
</div>
<div class='contentContainer'>
  <div class='aboutContainer'>
    <div class='profileContainer'>
    <div class='flexProfile'><img class='profile' src='images/profile.png'></div>

    <p><h1>About</h1> I discovered my love for design and a curiosity for code at a young age, and after attending East Carolina University to receive my Bachelor of Fine Arts, I chose to attend the Front-End Engineering program at The Iron Yard to delve further into the world of front-end development.
      <br><br>
    In my free time when I’m not designing or developing, I enjoy competitively riding horses, reading, and trying out whatever new recipe I stumble across online.
    <br><br>
    <button><a href='images/LBryantResume.pdf' target="blank" name='My Resume'>My Resume</a></button>
</p>
    </div>
  </div>
</div>
