<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
  <div class='contactBar'>
    <a href='https://www.twitter.com/_lebry'><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href='https://github.com/leighebryant'><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href='https://www.linkedin.com/in/leigh-bryant-43633aba'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>
</div>

<div class='contentContainer'>
  <h1>Connect</h1>
  <div class='connectForm'>
    <form action="https://formspree.io/hello@leighebryant.com"
      method="POST">
    <input type='text' placeholder="Name" name='name'>
    <input type='email' placeholder="Email" name='_replyto'>
    <textarea name ='message' type='textarea' rows="8" cols="50" placeholder="Your message here..."/>
    <button type='submit' value='Submit'><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
    <input type="hidden" name="_next" value="http://localhost:4200/connect" />
  </form>
  </div>
</div>
