<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
</div>

<div class='contentContainer'>
  <header>
    <h1>Connect</h1>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </header>
  <div class='connectForm'>
    <ul>
    <li><input type='text' placeholder="Name" name='name'></li>
    <li><input type='email' placeholder="Email" name='_replyto'></li>
    <li><input tpe='textarea' placeholder="Your message here..."></li>
    <li><button type='submit' value='Submit'><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button></li>
  </ul>
  </div>
</div>
