<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navigation">
            {{#link-to 'index' tagName="li"}}<a href="">HOME</a>{{/link-to}}
            {{#link-to 'about' tagName="li"}}<a href="">ABOUT</a>{{/link-to}}
            {{#link-to 'work' tagName="li"}}<a href="">WORK</a>{{/link-to}}
            {{#link-to 'connect' tagName="li"}}<a href="">CONNECT</a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>
