<div class='logoContainer'>
  <div class='headerImage'>
    <div class='responsiveImage'>
      <img src='images/mainLogo.png'>
    </div>
  </div>
</div>

<div class='contentContainer'>
  <h1>Work</h1>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='http://pet-pals.firebaseapp.com'><img class='thumbnail' src='images/petpalsscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='http://pet-pals.firebaseapp.com'>PetPals NC</a></h2>
      <p>A responive and informative site created for a non-profit based out of Hillsborough, NC, that provides pet assisted therapy to students of all ages.</p>
      <h3> EmberJS - JavaScript - HTML5 - Sass</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://zachschreiber.github.io/Mad-Libs/'><img class='thumbnail' src='images/spielscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://zachschreiber.github.io/Mad-Libs/'>Spiel</a></h2>
      <p>A mad libs game created to practice AngularJS as well as allowing users to create an account, play, and save their favorite spiels so they may share with their friends. (Note: This game only works using CORS for the time being.) </p>
      <h3> AngularJS - JavaScript - jQuery - HTML5 - Sass</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://leighebryant.github.io/loginRegister/'><img class='thumbnail' src='images/simpleloginscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://leighebryant.github.io/loginRegister/'>loginRegister</a></h2>
      <p>A simple and clean login and register page created for a larger scale project. Users can toggle between the login or register page using simple JavaScript and CSS animations. </p>
      <h3>JavaScript - jQuery - HTML5 - Sass</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://leighebryant.github.io/Zoo/'><img class='thumbnail' src='images/zooscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://leighebryant.github.io/Zoo/'>The Zoo</a></h2>
      <p>A fun experiment using vanilla JS constructors and prototypes to build a zoo of animals with different methods.</p>
      <h3>JavaScript - HTML5 - Sass</h3>
    </div>
  </div>
  <!-- <div class='banner'><img src='images/banner.svg'></div> -->
</div>
