<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
</div>

<div class='contentContainer'>
  <h1>Work</h1>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='http://pet-pals.firebaseapp.com'><img class='thumbnail' src='images/petpalsscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='http://pet-pals.firebaseapp.com'>PetPals NC</a></h2>
      <p>A responive and informative site created for a non-profit based out of Hillsborough, NC, that provides pet assisted therapy to students of all ages.</p>
      <h3> EmberJS - JavaScript - HTML5 - Sass</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://zachschreiber.github.io/Mad-Libs/'><img class='thumbnail' src='images/spielscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://zachschreiber.github.io/Mad-Libs/'>Spiel</a></h2>
      <p>A mad libs game created to practice AngularJS as well as allowing users to create an account, play, and save their favorite spiels so they may share with their friends. (Note: This game only works using CORS for the time being.) </p>
      <h3> AngularJS - JavaScript - jQuery - HTML5 - Sass</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>

</div>
