<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
</div>

<div class='contentContainer'>
  <h1>Work</h1>
    <div class='workContainer'>
        <div class='projectContainer'>
          <img class='thumbnail' src='images/petpalsscreenshot.png'>
            <div class='righttriangle'>
            </div>
          </div>
    </div>
</div>
