<div class='logoContainer'>
  <div class='headerImage'>
    <img src='images/header.svg'>
  </div>
</div>

<div class='contentContainer'>
  <h1>Work</h1>
    <div class='workContainer'>
      <div class='imageContainer'>
        <img class='thumbnail' src='images/petpalsscreenshot.png'>
      </div>
      <div class='infoContainer'>
        <h2>PetPals NC</h2>
        <p>A responive and informative site created for a non-profit based out of Hillsborough, NC, that provides pet assisted therapy to students of all ages.</p>
      </div>
    </div>
</div>
