<div class='logoContainer'>
  <div class='headerImage'>
    <div class='responsiveImage'>
      <img src='images/mainLogo.png'>
    </div>
  </div>
</div>

<div class='contentContainer'>
  <h1>Work</h1>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://leighebryant.github.io/devTest/' target="_blank"><img class='thumbnail' src='images/poniesscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://leighebryant.github.io/devTest/' target="_blank">Ponies</a></h2>
      <p>A fun and responsive one page application to practice jQuery, flexbox, mobile menus and CSS attributes. Created from a sketch and translated into a Photoshop document and then brought to life.</p>
      <h3> HTML5 - Sass - jQuery - Slick.JS - Illustrator - Photoshop</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='http://pet-pals.firebaseapp.com' target="_blank"><img class='thumbnail' src='images/petpalsscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='http://pet-pals.firebaseapp.com' target="_blank">PetPals NC</a></h2>
      <p>A responive and informative site created for a non-profit based out of Hillsborough, NC, that provides pet assisted therapy to students of all ages.</p>
      <h3> HTML5 - Sass - EmberJS - Bootstrap - JavaScript </h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://zachschreiber.github.io/Mad-Libs/' target="_blank"><img class='thumbnail' src='images/spielscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://zachschreiber.github.io/Mad-Libs/' target="_blank">Spiel</a></h2>
      <p>A mad libs game created to practice AngularJS as well as allowing users to create an account, play, and save their favorite spiels so they may share with their friends. (Note: This game only works using CORS for the time being.) </p>
      <h3> HTML5 - Sass - AngularJS - JavaScript - jQuery - Photoshop</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div class='workContainer'>
    <div class='imageContainer'>
      <a href='https://leighebryant.github.io/loginRegister/' target="_blank"><img class='thumbnail' src='images/simpleloginscreenshot.png'></a>
    </div>
    <div class='infoContainer'>
      <h2><a class='projectLink' href='https://leighebryant.github.io/loginRegister/' target="_blank">loginRegister</a></h2>
      <p>A simple and clean login and register page created for a larger scale project. Users can toggle between the login or register page using simple JavaScript and CSS animations. </p>
      <h3>HTML5 - Sass - JavaScript - jQuery</h3>
    </div>
  </div>
  <div class='banner'><img src='images/banner.svg'></div>
  <div><h6>See more of my code and design on my
  <a id='linky' href='https://github.com/leighebryant' target="blank" name='More Work'>Github</a></h6>
  <h6>This website was made by Leigh Bryant using HTML5, Sass, EmberJS, JavaScript, and Illustrator.</h6>
</div>
</div>
